# 代理服务器配置
HOST: 0.0.0.0
PORT: 8080
MOUNT_PATH: /dav/
AUTH_USERNAME: user
AUTH_PASSWORD: password

# 后端 WebDAV服务器配置
BACKEND_URL: https://example.com/webdav
BACKEND_USERNAME: backend_user
BACKEND_PASSWORD: backend_password

# 元数据缓存配置
METADATA_CACHE_SIZE: 2000
METADATA_CACHE_TTL: 60

# 日志配置
# 是否将日志写入文件，设置为true开启文件日志，false仅输出到控制台
ENABLE_FILE_LOGGING: false
# 日志级别：DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL: INFO
# 日志文件路径（仅在ENABLE_FILE_LOGGING=true时生效）
LOG_FILE: webdav_proxy.log

# 开启文件切割大小,超过该大小的文件将被切割上传到后端，单位为字节,默认为8GB
FILE_MAX_SIZE: 8589934592
